---
title: GovLab Academy
layout: base
---
{% include urlpath.html %}
<section class="b-main-content hero">
  <div class="row" id="title">
    <div class="small-8 large-8 large-centered small-centered column">
      <h4 class="purple bold">
        SOLVING PUBLIC PROBLEMS WITH DATA
      </h4>
      <h5 class="purple">
        A new lecture series by The GovLab
      </h5>
      <h5 class="purple" id="tagline">
        LEARN HOW TO USE DATA TO ACHIEVE YOUR PUBLIC MISSION
      </h5>
    </div>
  </div>
  <a class="button tiny raised cta-button" href="#start-learning">START LEARNING</a>
  <div class="row" id="quotes">
    <div class="small-8 large-8 small-centered large-centered columns">
      <div class="row"> <!-- giant " -->
        <div id="quote-symbol">
          &rdquo;
        </div>
      </div>
      <div class="row">
        <div id='quote-slider' class='swipe'>
          <div class='swipe-wrap'>
            {% for quote in site.data.contentful.spaces.site_data.quote %}
              <div>
                <div id="quote-wrap">
                  <span class="purple markdownified" id="quote-text">"{{quote.text | markdownify}}"</span>
                </div>
                <div class="bold" id="link-wrap">
                  <a href="{{quote.link}}" target="_blank">
                    <span class="purple" id="quote-link">{{quote.author}}</span></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="right-aligned row"> <!-- photo credit -->
      <a class="extra-tiny white link" href="https://unsplash.com/@delajed?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jed Dela Cruz">Photo by Jed Dela Cruz on Unsplash</a>
    </div>
  </div>
</section>
<section class="dark-background padded bottom-bordered">
  <div class="row">
    <div class="small-8 large-8 large-centered small-centered columns">
      <h4 class="white bold section-headline">TODAY, KNOWING HOW TO WORK WITH DATA MATTERS MORE THAN EVER.</h4>
      <span class="grey bold section-subhead" id="preview-subhead">Watch Data Scientist Ben Wellington explain why:</span>
    </div>
  </div>
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <!-- video embed -->
      <iframe name="lecture" class="video-embed" width="100%" height="500" frameborder="0"  src="./videos/Solving%20Public%20Problems%20with%20Data%20-%20Session%200/story_html5.html" style="border:0; min-width: 100%" scrolling="no"></iframe>
    </div>
  </div>
</section>
<section class="purple padded">
  <div class="row">
    <div class="small-8 large-8 large-centered small-centered columns">
      <h4 class="white bold section-headline">LEARN FROM LEADING DATA EXPERTS
</h4>
      <span class="white section-subhead" id="author-subhead">Gain access to a diverse know-how that goes beyond institutional boundaries</span>
    </div>
  </div>
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <div class="row">
        <div class="author-list small-up-1 medium-up-3 large-up-5 columns">
          {% for author in site.data.contentful.spaces.site_data.author %}
            <div class="column column-block">
              <img class="author" src="{{author.photo.url}}">
              <p class="white bold tiny author-name">{{author.name | upcase}}</p>
              <p class="white tiny">{{author.title}}, {{author.organization}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dark-background padded">
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <span class="white">READY TO USE YOUR DATA TO ACHIEVE YOUR PUBLIC MISSION?</span>
      <a name="start-learning"></a>
    </div>
  </div>
</section>
<section class="lectures padded">
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <span class="bold chooser-headline">CHOOSE A LECTURE</span><span class="chooser-headline"> or subscribe to our guided learning experience</span>
    </div>
  </div>
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <div class="row">
        <div class="small-up-1 medium-up-4">
        {% assign lecture_data = site.data.contentful.spaces.site_data.video | sort: 'order' %}
        {% for lecture in lecture_data %}
          {% assign title = lecture.title %}
          {% assign url = lecture.poster.url %}
          {% assign authors = lecture.author %}
          {% assign path="lectures" %}
          {% include lecture_preview.html title=title url=url authors=authors path=path %}
        {% endfor %}
        <div class="column column-block block-wrap">
          <div class="suggest-block">
            <p class="white tiny">DIDN’T FIND WHAT YOU’RE LOOKING FOR?</p>
            <a class="link" href="https://govlab.typeform.com/to/lOLcb5" _target="blank"><p class="white suggest-cta">SUGGEST TOPIC</p></a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="purple padded">
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <div class="row">
        <div class="small-4 large-4 left-aligned columns">
          <p class="white small bold">Not sure where to start?</p>
          <p class="tiny white">Subscribe to our guided learning experience to receive our recommended weekly program!</p>
        </div>
        <div class="small-6 large-6 columns">
          <form>
            <div class="input-group">
              <input class="small white input-group-field form-element" type="text" placeholder="Email">
              <div class="input-group-button">
                <input type="submit" class="tiny white bold button form-submit" value="SUBSCRIBE">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
