---
title: GovLab Academy
layout: base
---
{% include urlpath.html %}
{% assign copy = site.data.contentful.spaces.site_data.indexPageContent[0] %}
<section class="b-main-content hero">
  <div class="row" id="title">
    <div class="small-8 large-8 large-centered small-centered column">
      <h4 class="purple bold">
        {{ copy.title }}
      </h4>
      <h5 class="purple">
        {{ copy.subtitle }}
      </h5>
      <h5 class="purple" id="tagline">
        {{ copy.subtitle2 }}
      </h5>
    </div>
  </div>
  <a class="button raised cta-button" href="#start-learning">{{ copy.learn_button }}</a>
  <div class="row" id="quotes">
    <div class="small-8 large-8 small-centered large-centered columns">
      <div class="row" id='quote-row'>
        <div id='quote-slider' class='swipe'>
          <div class='swipe-wrap'>
            {% for quote in site.data.contentful.spaces.site_data.quote %}
              <div>
                <div id="quote-wrap">
                  <span class="purple markdownified" id="quote-text">"{{quote.text | markdownify}}"</span>
                </div>
                <div class="bold" id="link-wrap">
                  <a href="{{quote.link}}" target="_blank">
                    <span class="purple" id="quote-link">{{quote.author}}</span></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="right-aligned row"> <!-- photo credit -->
      <a class="extra-tiny white link" href="https://unsplash.com/@delajed?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jed Dela Cruz">Photo by Jed Dela Cruz on Unsplash</a>
    </div>
  </div>
</section>
<section class="purple padded">
  <div class="row">
    <div class="small-8 large-8 large-centered small-centered columns">
      <h4 class="small white bold">{{ copy.authors_title }}</h4>
      <span class="small white" id="author-subhead">{{ copy.authors_subtitle }}</span>
    </div>
  </div>
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <div class="row">
        <div class="author-list small-up-1 medium-up-3 large-up-4 columns">
          {% assign authors = site.data.contentful.spaces.site_data.author | sort: 'last_name' %}
          {% for author in authors %}
            <div class="column column-block">
              <a class="link" href="{{ author.bio_link }}" target="_blank"><img class="author" src="{{author.photo.url}}"></a>
              <a class="link" href="{{ author.bio_link }}" target="_blank"><p class="white bold tiny author-name">{{author.first_name | upcase}} {{author.last_name | upcase}}</p></a>
              <a class="link" href="{{ author.bio_link }}" target="_blank"><p class="white extra-tiny">{{author.title}}, {{author.organization}}</p></a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dark-background padded align-left-large">
  <div class="row">
    <div class="small-10 large-5 large-offset-1 small-offset-1 columns" style="height: 250px;">
      <div class="relative">
        <div class="vertically-center">
          <h4 class="small white bold">{{ copy.splash_video_title }}</h4>
          <span class="small grey bold" id="preview-subhead">{{ copy.splash_video_subtitle }}</span>
        </div>
      </div>
    </div>
    <div class="small-10 small-offset-1 large-offset-0 large-5 columns end video" style="height: 250px;">
      <div class="relative block-center" style="max-width: 500px;">
        <div class="vertically-center">
          <a href="{{ copy.splash_video_url }}" target="_blank">
            <div class="inline-block">
              <img src="{{ base }}/static/img/play_button.png" class="play-button" />
              <img src="{{ copy.splash_video_thumbnail.url }}" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="purple padded">
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <span class="white">{{ copy.lectures_title }}</span>
      <a name="start-learning"></a>
    </div>
  </div>
</section>
<section class="lectures padded">
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <span class="bold chooser-headline">{{ copy.lectures_subtitle }}</span>
    </div>
  </div>
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <div class="row">
        <div class="small-up-1 medium-up-2 large-up-4">
        {% assign lecture_data = site.data.contentful.spaces.site_data.video | sort: 'order' %}
        {% for lecture in lecture_data %}
          {% assign active = lecture.active %}
          {% assign title = lecture.title %}
          {% assign url = lecture.poster.url %}
          {% assign authors = lecture.author %}
          {% assign path="lectures" %}
          {% include lecture_preview.html active=active title=title url=url authors=authors path=path %}
        {% endfor %}
        <div class="column column-block block-wrap">
          <a class="link" href="https://govlab.typeform.com/to/lOLcb5" target="_blank">
            <div class="suggest-block">
              <p class="white tiny">{{ copy.suggest_topic1 }}</p>
              <p class="white suggest-cta">{{ copy.suggest_topic2 }}</p>
            </div>
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="purple padded">
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <div class="row">
        <div class="small-4 large-4 left-aligned columns">
          <p class="white small bold">{{ copy.subscribe1 }}</p>
          <p class="tiny white">{{ copy.subscribe2 }}</p>
        </div>
        <div class="small-6 large-6 left-aligned columns">
          <a class="link" href="https://govlab.typeform.com/to/CiI9Hj" target="_blank">
            <input type="submit" class="white button form-submit" value="{{ copy.subscribe3 }}">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
