<!-- Footer -->
<footer>
  <section class="dark-background padded bottom-bordered">
  <div class="row">
    <div class="small-10 large-10 large-centered small-centered columns">
      <div class="row">
        <div class="left-aligned column medium-6 large-6 small-12">
          <h4 class="small white bold subhead">WITH SUPPORT FROM</h4>
          <a class="partner-logo" href="http://www.arnoldfoundation.org/" target="_blank">
            <img class="partner-logo" id="ljaf-logo" src="{{ base }}/static/img/logo-ljaf.png" alt="Laura and John Arnold Foundation">
          </a>
        </div>
        <div class="left-aligned column medium-6 large-6 small-12">
          <h4 class="small white bold subhead">BASED AT</h4>
          <a href="https://engineering.nyu.edu/tandon" target="_blank">
            <img class="partner-logo" id="nyu-tandon-logo" src="{{ base }}/static/img/nyu.png" alt="NYU Tandon School of Engineering - New York University">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="padded cc-attribution">
    <div class="row">
      <div class="small-10 large-10 large-centered small-centered columns">
        <div class="row">
          <div class="left-aligned column large-12 small-12">
            <p class="small white"><a class="cc-badge" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>This work by The GovLab is licensed under a <a rel="license" class="small white link" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License.</a></p>
          </div>
        </div>
      </div>
    </div>
  <section>
</footer>
