<header class="b-top-navigation-wrapper">
  <div class="b-top-navigation">

    <div class="row">
      <h1 class="b-logo"><a href="{{ base }}/index.html" class="e-home" title="Home"><img src="{{ base }}/static/img/govlab-logo-white.png" alt="The GovLab Website"><span>Academy</span></a></h1>
      <nav class="b-main-nav-container">
        <ul class="b-main-nav">
          <span class="e-mainnav-trigger"><i class="fa-bars fa"></i></span>
          <h2>Menu</h2>
          <li class="e-submenu"><a href="{{ base }}/about.html">About</a>
            <ul>
              <li><a class="e-sub-item" href="{{ base }}/about.html">The Academy</a></li>
              <li><a class="e-sub-item" href="{{ base }}/about.html#about-govlab">The GovLab</a></li>
              <!-- <li><a class="e-sub-item" href="/master-classes.html">Master Classes</a></li> -->
              <li><a class="e-sub-item" href="{{ base }}/about.html#team-cards">The Faculty</a></li>
            </ul>
          </li>
          <li class="e-submenu"><a href="{{ base }}/programs.html">Programs</a>
            <ul>
              <li><a class="e-sub-item" href="{{ base }}/coaching-programs.html">Coaching Programs</a></li>
              <li><a class="e-sub-item" href="{{ base }}/workshops.html">Workshops</a></li>
              <!-- <li><a class="e-sub-item" href="./master-classes.html">Master Classes</a></li> -->
              <li><a class="e-sub-item" href="{{ base }}/regular-courses.html">Courses and Project Clinics</a></li>
            </ul>
          </li>
          <li><a href="{{ base }}/project-gallery.html">Project Gallery</a></li>
          <li><a href="{{ base }}/library.html">Library</a></li>
          <li class="e-submenu"><a href="#">Community</a>
            <ul>
              <li><a class="e-sub-item" href="https://networkofinnovators.org/">Network of Innovators</a></li>
              </ul>
              </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
