/* ======================
   Plain CSS for the Devs
   ====================== */
.govlab-logo {
  max-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
section {
  text-align:center;
}
.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: 100%;
}
.left-aligned {
  text-align: left;
}
.right-aligned {
  text-align: right;
}
.center-aligned {
  text-align: center;
}
.thin {
  font-weight: 200;
}
.small {
  font-size: 1.2rem;
}
.tiny {
  font-size: 1rem;
}
#title {
  min-height: 50%;
  padding-top: 8%
}
h1.purple, h2.purple, h3.purple, h4.purple, h5.purple, span.purple, p.purple {
  color: #523080;
}
section.purple {
  background-color: #523080;
}
section.dark-purple {
  background-color: rgba(65,39,102,1);
}
section.blue {
  background-color: #008ab3;
}
.white {
  color: rgba(255,255,255,1);
}
.grey {
  color: rgba(255,255,255,0.7);
}
.bold {
  font-weight: 700;
}
.section-subhead {
  font-size: 0.8rem;
}
.bottom-bordered {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.8);
}
#headline {
  font-weight: 400;
}
#tagline {
  margin-top: 1.5rem;
  font-weight: 300;
}
.cta-button {
  position: relative;
  background-color: #523080;
  color: #EFEFEF;
  top: 2rem;
  min-width: 8rem;
}
.raised {
  -webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.4);
}
#quotes {
  min-height: 50%;
  max-width: 100%;
  background: rgba(200, 200, 200, 0.5);
}
#quote-symbol {
  font-size: 6rem;
  margin-top: 2rem;
  margin-bottom: -3rem;
  color: #523080;
  font-family: 'Helvetica-bold';
}
#quote-slider {
  overflow: hidden;
}
#quote-text {
  font-size: 1.2rem;
  font-weight: 200;
}
#link-wrap {
  margin-top: 3%;
  font-size: 0.7rem;
}
a.link:link,
a.link:active,
a.link:visited,
a.link:hover {
  text-decoration: none;
  color: rgba(255,255,255,1);
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.dark-background {
  background: rgba(0, 0, 0, 0.8);
}
.section-headline {
  font-size: 0.8rem;
}
.subhead {
  margin-top: 2rem;
}
#preview-subhead {

}
#explainer-preview {
  margin: 2rem;
}
.padded {
  padding: 2rem;
}
.author-list {
  padding-top: 2rem;
}
.author-list div {
  padding-top: 1rem;
}
.author {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.author-name {
  padding-top: 1rem;
}
.caps {
  font-variant: small-caps;
}
.lectures {
  padding: 2rem;
}
.chooser-headline {
  font-size: 1rem;
}
.block-wrap {
  padding: 1rem;
}
.lecture-block {
  background-color: rgba(180, 180, 180, 1);
  text-align: left;
  min-height: 12rem;
}
.suggest-block {
  background-color: #523080;
  color: white;
  min-height: 12rem;
  padding-top: 25%
}
.lecture-data {
  padding: 0.5rem;
}
#program-title {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
#course-title {
  font-size: 2rem;
}
.suggest-cta {
  font-size: 1.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.form-element {
  background-color: rgba(255,255,255,0.1);
  height: 1.7rem;
}
.form-submit {
  background-color: rgba(255,255,255,0.2);
  height: 1.7rem;
}
.partner-logo {
  max-height: 1.5rem;
  opacity: 0.5;
}
.cc-attribution {
  background-color: rgba(0,0,0,1);
}
.cc-badge {
  margin-right: 1rem;
}
#course-metadata {
  padding-top: 2rem;
}
.resource-tabs {
  top: 1rem;
  background: transparent;
  border: none;
}
a.resource-tab-button {
  background-color: rgba(0,0,0,0.1);
  min-width: 5rem;
  color: rgba(0,0,0,0.3);
  width: 5rem;
  padding: 0.5rem;
}
  a.resource-tab-button[aria-selected=true] {
    background: #523080;
    color: white;
  }
.resource-content {
  background: transparent;
  border: 0;
}
.resource-panel {
  padding-top: 0rem;

}
/* Markdownified data classifiers */
#quote-text.markdownified p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #523080;
  display: inline;
}
.markdownified p, .markdownified ul li {
  font-size: 1rem;
}
#objectives ul {
  margin-left: 0;
}
.markdownified ul li {
  color: white;
  margin-top: 0.2rem;
}
/* end */
.resource-panel p a {
  color: rgba(0,0,0,1);
  font-weight: 700;
  text-decoration: none;
}
