/* ======================
   Plain CSS for the Devs
   ====================== */
.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: 100%;
  text-align:center;
}
.right-aligned {
  text-align: right;
}
#title {
  min-height: 50%;
  padding-top: 12.5%
}
.purple {
  color: #523080;
  font-family: 'Montserrat', sans-serif;
}
.white {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.grey {
  color: grey;
}
.bold {
  font-weight: 400;
}
.section-subhead {
  font-size: 0.8rem;
}
#headline {
  font-weight: 400;
}
#subhead {
  font-weight: 300;
  margin-top: -8px;
}
#tagline {
  margin-top: 1.5rem;
  font-weight: 300;
}
#cta-button {
  position: relative;
  background-color: #523080;
  color: #EFEFEF;
  top: 2rem;
  -webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.4);
}
#quotes {
  min-height: 50%;
  max-width: 100%;
  background: rgba(200, 200, 200, 0.5);
}
#quote-symbol {
  font-size: 6rem;
  margin-top: 2rem;
  margin-bottom: -3rem;
  color: #523080;
  font-family: 'Helvetica-bold';
}
#quote-slider {
  overflow: hidden;
}
#quote-text {
  font-size: 1rem;
  font-weight: 200;
}
#link-wrap {
  margin-top: 3%;
  font-size: 0.5rem;
}
a#photo-credit:link,
a#photo-credit:active,
a#photo-credit:visited,
a#photo-credit:hover  {
  color: #EEE;
  font-size: 0.1rem;
  font-style: italic;
  margin-right: 2rem;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.content-preview {
  background: rgba(0, 0, 0, 0.8);
  text-align:center;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.8);
}
.section-headline {
  font-size: 0.8rem;
  margin-top: 2rem;
}
#preview-subhead {
  font-family: 'Helvetica-bold';
}
#explainer-preview {
  margin: 2rem;
}
.authors {
  background: #523080;
  text-align:center;
}
.author-list {
  padding-top: 2rem;
}
.author-list div {
  margin-bottom: 2rem;
}
.author {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.author-name {
  padding-top: 1rem;
}
.caps {
  font-variant: small-caps;
}
.tiny {
  font-size: 0.4rem
}
