<!DOCTYPE html>
{% assign authors = page.author %}
{% assign resources = page.resources %}
{% assign categories = page.resources | map:'resource_category' | uniq %}
{% assign lecture_count = site.data.contentful.spaces.site_data.video.size %}
{% assign prev_lecture_number = page.order | minus: 1 %}
<html class="no-js" lang="en">
  {% include urlpath.html %}
  {% include head.html %}
  <body>
    {% include titlebar.html %}
    <section class="dark-purple">
      <div class="row">
        <div class="small-10 large-10 large-centered small-centered columns">
          <div class="row">
            <div class="small-12 large-12 left-aligned columns">
              <a href="{{ base }}/index.html"><p class="white bold" id="program-title">Solving Public Problems with Data</p></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="course-metadata" class="purple">
      <div class="row">
        <div class="small-10 large-10 large-centered small-centered columns">
          <div class="row">
            <div class="small-8 large-8 left-aligned columns">
              <p class="white" id="course-title">{{ page.title }}</p>
              <p class="small white bold subhead">YOU WILL LEARN:</p>
              <span class="tiny white markdownified" id="objectives">
                {{ page.objectives | markdownify }}
              </span>
            </div>
            <div class="small-4 large-4 right-aligned columns">
              <span class="tiny white">Taught by</span>
              <ul>
                {% for author in authors %}
                  <li class="tiny white bold">{{ author.first_name }} {{ author.last_name }}</li>
                {% endfor %}
              </ul>
              <span class="tiny white">{{ page.duration }} mins</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="course-content" class="padded">
      <div class="row">
        <div class="small-10 large-10 large-centered small-centered columns">
          <div class="row">
            <div class="small-12 large-12 left-aligned columns">
              <!-- video embed -->
              <div class="show-for-small-only">
                <a href="{{ page.video_link }}">
                  <img src="{{ page.poster.url }}" width="100%" height="100%" />
                  <img src="{{ base }}/static/img/play_button.png" style="transform: translate(0%, -90%);" />
                </a>
              </div>
              <div class="hide-for-small-only">
                <iframe name="lecture" class="video-embed" width="100%" height="400" frameborder="0"  src="{{ page.video_link }}" style="border:0; min-width: 100%" scrolling="no"></iframe>
              </div>
              <p class="small purple bold subhead">DESCRIPTION</p>
              <span class="tiny markdownified">
                {{ page.description | markdownify }}
              </span>
              <p class="small purple bold subhead">RESOURCES</p>
              <div class="row collapse">
                <div class="medium-2 columns">
                  <ul class="vertical tabs resource-tabs" data-tabs id="resource-tabs">
                    {% for category in categories %}
                      <li
                      class="tabs-title {%if forloop.first %}is-active{% endif %}">
                        <a
                        class="button resource-tab-button markdownified"
                        role="tab"
                        aria-controls="{{ category | downcase }}"
                        href="#{{  category | downcase }}"
                        {%if forloop.first %}aria-selected="true"{% endif %}
                        id="{{ category | downcase }}-label">
                          {{  category | upcase }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="medium-10 columns">
                  <div class="tabs-content resource-content" data-tabs-content="resource-tabs">
                    {% for category in categories %}
                      <div
                      class="tabs-panel resource-panel markdownified {%if forloop.first %}is-active{% endif %}"
                      role="tabpanel"
                      aria-labelledby="{{ category | downcase}}-label"
                      id="{{ category | downcase}}">
                        {% for resource in resources %}
                          {% if resource.resource_category == category %}
                            {{ resource.description | markdownify }}
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="noi-promo" class="blue padded">
      <div class="row">
        <div class="small-10 large-10 large-centered small-centered columns">
          <span class="thin white">Still have questions? Need help with a project?</span>
          <br />
          <span class="white bold">Ask the Data Science community by joining Network of Innovators!</span>
          <a href="https://discuss.networkofinnovators.org/c/SPPwD" target="_blank">
            <img id="noi-preview" src="{{base}}/static/img/noi-screenshot.png" />
          </a>
          <p><a class="button raised cta-button" href="https://networkofinnovators.org" target="_blank" style="margin-bottom: 60px;">ASK AN EXPERT</a></p>
        </div>
      </div>
    </section>
    <section id="learn-next" class="padded">

      <div class="row">
        <div class="small-10 large-10 large-centered small-centered columns">
          <div class="left-aligned row">
            <p class="small purple bold subhead">LEARN NEXT</p>
          </div>
          <div class="row">
            <div class="small-up-1 medium-up-2 large-up-4">
              {% assign lecture_data = site.data.contentful.spaces.site_data.video | sort: 'order' %}
              {% for lecture in lecture_data offset: page.order %}
                {% assign active = lecture.active %}
                {% assign title = lecture.title %}
                {% assign url = lecture.poster.url %}
                {% assign authors = lecture.author %}
                {% assign path="../lectures" %}
                {% if lecture.active %}
                  {% include lecture_preview.html active=active title=title url=url authors=authors path=path %}
                {% endif %}
              {% endfor %}
              {% for lecture in lecture_data limit: prev_lecture_number %}
                {% assign active = lecture.active %}
                {% assign title = lecture.title %}
                {% assign url = lecture.poster.url %}
                {% assign authors = lecture.author %}
                {% assign path="../lectures" %}
                {% if lecture.active %}
                  {% include lecture_preview.html active=active title=title url=url authors=authors path=path %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
